th, td {
    border: 1px solid black;
}

#sunday::after {
    content: "Sunday";
}

#monday::after {
    content: "Monday";
}

#tuesday::after {
    content: "Tuesday";
}

#wednesday::after {
    content: "Wednesday"
}

#thursday::after {
    content: "Thursday"
}

#friday::after {
    content: "Friday";
}

#saturday::after {
    content: "Saturday";
}

.today-date, .inside-date, .outside-date {
    padding: 5px;
}

.today-date {
    font-weight: bold;
}

.inside-date {
    color: black;
}

.outside-date {
    color: grey;
}