th, td {
    border: 1px solid black;
}

.today-date, .inside-date, .outside-date {
    padding: 5px;
}

.today-date {
    font-weight: bold;
}

.inside-date {
    color: black;
}

.outside-date {
    color: grey;
}

.calendar-options form, .calendar-options button {
    display: inline-block;
}